.container, .board-item, .board-img, .board-name ,.board-content{
  border: 1px solid black;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board-item{
  display: flex;
}

.board-img{
  display: flex;
}

.board-name{
  display: flex;
}

.board-content{
  display: flex;
}


/*
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/